.login{
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 90%;
    min-width: 320px;
    max-width: 620px;
    height: 500px;
    background: $brand-white;
    position: relative;
    padding-bottom: 80px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
    .title{
        text-align: center;
        margin: 0;
        padding: 10px 0;
        li{
            display: inline-block;
            font-size: 18px;
            margin-top: 30px;
            .fa-camera{
                font-size: 40px;
                color: $brand-blue;
                width: 20px;
            }
            h3{
                color: $brand-blue-d;
                margin-left: 40px;
            }
        }
    }
    .login-body{
        h3{
            margin-top: 15px;
            padding: 20px 0;
            font-size: 20px;
        }
        .form-control{
                padding: 10px 0px;
                margin-bottom: 30px;
                width: 100%;
                background: #dddddd45;
                color: $brand-dark;
                border-bottom: 2px solid $brand-blue;
                
            .fa-user,
            .fa-lock{
                margin-left: 10px;
                text-align: center;
                width: 26px;
                float: left;
                font-size: 20px;
                color: $brand-grey;
            }
            input{
                border: none;
                outline: none;
                background: none;
                width: 80%;
                color: $brand-dark;
                margin: 0 10px;
                transition: border-width 0.2s ease;
            }
            :-ms-input-placeholder,
            ::-webkit-input-placeholder,
            :-moz-placeholder{
                font-family: 'Nunito', sans-serif;
            }
        }
        .radio-container{
            margin-top: 10px;
            display: inline-block;
            position: relative;
            cursor: pointer;
            user-select: none;
            padding-left: 30px;
            font-size: 15px;
            input[type="radio"]{
                display: none;
            }
            .circle{
                display: inline-block;
                width: 18px;
                height: 18px;
                background-color: $brand-grey-o;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 50%;
                border: 1px solid $brand-grey;
            }
        }
        .radio-container input:checked + .circle{
            background-color: $brand-grey-o;
            border: 1px solid $brand-grey;
        }
        .radio-container input:checked + .circle:after{
            content: "";
            height: 12px;
            width: 12px;
            background-color: $brand-blue;
            position: absolute;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .btn-1{
        background: $brand-blue-d;
        left: 0;
        bottom: 0;
    }
    .btn-2{
        background: $brand-blue;
        right: 0;
        bottom: 0;
    }
}
