html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  height: 100vh; }

html,
body,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  text-rendering: optimizeLegibility; }

body {
  background: #E1E1E1;
  color: #1c5078; }

a {
  cursor: pointer;
  text-decoration: none;
  outline: 0; }

ul, li {
  list-style-type: none; }

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%; }

.login-body {
  width: 80%;
  margin: auto;
  overflow: hidden; }

.text-center {
  text-align: center; }

.btn {
  width: 50%;
  height: 100%;
  padding: 10px 10px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  display: block;
  border: none;
  outline: none;
  margin-top: 20px;
  position: absolute;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1); }

.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  min-width: 320px;
  max-width: 620px;
  height: 500px;
  background: #FFFFFF;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5); }
  .login .title {
    text-align: center;
    margin: 0;
    padding: 10px 0; }
    .login .title li {
      display: inline-block;
      font-size: 18px;
      margin-top: 30px; }
      .login .title li .fa-camera {
        font-size: 40px;
        color: #008DD2;
        width: 20px; }
      .login .title li h3 {
        color: #1c5078;
        margin-left: 40px; }
  .login .login-body h3 {
    margin-top: 15px;
    padding: 20px 0;
    font-size: 20px; }
  .login .login-body .form-control {
    padding: 10px 0px;
    margin-bottom: 30px;
    width: 100%;
    background: #dddddd45;
    color: #000000;
    border-bottom: 2px solid #008DD2; }
    .login .login-body .form-control .fa-user,
    .login .login-body .form-control .fa-lock {
      margin-left: 10px;
      text-align: center;
      width: 26px;
      float: left;
      font-size: 20px;
      color: #4d4d4d; }
    .login .login-body .form-control label {
      position: absolute;
      left: 20%; }
    .login .login-body .form-control input[type="text"],
    .login .login-body .form-control input[type="password"] {
      border: none;
      outline: none;
      background: none;
      width: 80%;
      color: #000000;
      margin: 0 10px;
      font-family: 'Nunito', sans-serif; }
      .login .login-body .form-control input[type="text"]:valid + label,
      .login .login-body .form-control input[type="password"]:valid + label {
        opacity: 0; }
  .login .login-body .radio-container {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-left: 30px;
    font-size: 15px; }
    .login .login-body .radio-container input[type="radio"] {
      display: none; }
    .login .login-body .radio-container .circle {
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #E1E1E1;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      border: 1px solid #4d4d4d; }
  .login .login-body .radio-container input:checked + .circle {
    background-color: #E1E1E1;
    border: 1px solid #4d4d4d; }
  .login .login-body .radio-container input:checked + .circle:after {
    content: "";
    height: 12px;
    width: 12px;
    background-color: #008DD2;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .login .btn-1 {
    background: #1c5078;
    left: 0;
    bottom: 0; }
  .login .btn-2 {
    background: #008DD2;
    right: 0;
    bottom: 0; }

@media (max-width: 432px) and (min-width: 320px) {
  .form-control {
    display: inline-block;
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
    background: #dddddd45;
    color: #000000;
    border-bottom: 2px solid #008DD2; } }
